/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold.eot");
  src: url("../fonts/Roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Medium.eot");
  src: url("../fonts/Roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Regular.eot");
  src: url("/fonts/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --link: #247aa8;
  --link-hover: #1b5b7e;
  --icon: #1b657e;
  --border: #303b44;
  --border-light: #4e606e;
  --code: #c2d6e6;
  --white: #fff;
  --background: #f2f2f2;
}

body {
  margin: 0;
  font-family: Roboto, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


/* Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.flex {
  display: flex;
  width: 100%;
}

.flex-center {
  align-items: center;
}

.flex-space-between {
  justify-content: space-between;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 50px;
  box-shadow: 0 1px 2px rgb(60 64 67 / 30%);
  background-color: var(--border);
  z-index: 3;
}

.header-text {
  font-size: 22px;
  font-weight: bold;
  color: var(--white);
}

.header-link {
  margin-left: 20px;
  text-decoration: none;
}

  .header-link:hover {
    color: var(--link);
  }

.main {
  position: absolute;
  top: 50px;
  overflow: hidden;
  height: calc(100% - 50px);
}

.container-scroll {
  width: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
}

.container-text {
  padding: 0px 24px 24px;
  max-width: 1320px;
  margin: 0 auto;
}

.container-content {
  padding: 12px 0px;
  max-height: calc(100vh - 70px);
  overflow-y: auto;
  position: sticky;
  top: 0;
}

.sidebar {
  max-width: 300px;
  outline: 1px solid var(--border);
  background-color: var(--white);
  height: 100%;
}

.col-blog {
  width: 100%;
  flex: 1 0;
  margin-left: 0;
  max-width: 75%;
}

.col-content {
  max-width: 25%;
  padding-left: 20px;
}

.content-table {
  list-style: none;
  font-size: 0.9rem;
  border-left: 1px solid var(--border);
  padding: 5px 0;
  padding-left: 10px;
}

  .content-table li {
    margin: 0.8rem 0.8rem;
  }

  .content-table a {
    text-decoration: none;
    color: var(--link);
  }

.tree-view {
  padding: 12px 12px;
  font-size: 18px;
  color: var(--border);
  font-weight: 500;
}

  .tree-view details {
    padding: 6px 0px 6px 12px;
  }

    .tree-view details > summary {
      list-style-type: none;
      cursor: pointer;
    }

      .tree-view details > summary::-webkit-details-marker {
        display: none;
      }

      .tree-view details > summary::before {
        font-size: 25px;
        margin-right: 5px;
        content: 'aa';
        color: transparent;
        background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='26px' viewBox='0 0 24 24' width='26px' fill='%231b657e'><path d='M0 0h24v24H0z' fill='none'/><path d='M10 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8l-2-2z'/></svg>") center no-repeat;
      }

    .tree-view details[open] > summary::before {
      font-size: 25px;
      margin-right: 5px;
      content: 'aa';
      color: transparent;
      background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='26px' viewBox='0 0 24 24' width='26px' fill='%231b657e'><path d='M0 0h24v24H0V0z' fill='none'/><path d='M20 6h-8l-2-2H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zm0 12H4V8h16v10z'/></svg>") center no-repeat;
    }

.tree-view-item::before {
  font-size: 25px;
  margin-right: 5px;
  content: 'aa';
  color: transparent;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%231b657e'><path d='M0 0h24v24H0V0z' fill='none'/><path d='M8 16h8v2H8zm0-4h8v2H8zm6-10H6c-1.1 0-2 .9-2 2v16c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm4 18H6V4h7v5h5v11z'/></svg>") center no-repeat;
}

.tree-view-group {
  border-left: 2.5px dotted var(--border);
}

.tree-view-item {
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  color: var(--border);
  display: flex;
  align-items: center;
  padding: 0 12px;
  margin: 6px 0;
  cursor: pointer;
}

  .tree-view-item:hover {
    color: var(--link-hover);
  }

.tree-view-item-current {
  color: var(--link);
  border-radius: 5px;
  background-color: #c3ccd5;
  font-weight: bold;
}

/* Modal
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.modal {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.6);
}

.modal-content {
  display: flex;
  flex-direction: column;
  background-color: var(--border);
  margin: 10px auto;
  padding: 10px 15px;
  border-radius: 5px;
  width: 90%;
  height: 90%;
}

.modal-textarea {
  flex: 1;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  resize: none;
  border-radius: 5px;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button-icon {
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}

  .button-icon:hover {
    background-color: var(--white);
  }

    .button-icon:hover svg {
      fill: var(--link-hover);
    }

.button-icon--menu {
  display: none;
  margin-left: 10px;
}

.button-icon--edit {
  display: flex;
  margin-right: 10px;
}

.button-icon--save {
  margin-left: 10px;
}


/* General Blog Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.blog {
  max-width: 950px;
  line-height: 1.6;
}

  .blog h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
  }

  .blog h1 {
    border-bottom: 1px solid var(--border);
    margin-top: 2rem;
  }

  .blog a {
    color: var(--link);
  }

    .blog a:hover {
      color: var(--link-hover);
    }

  .blog pre {
    border-radius: 4px;
  }

  .blog img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }

  .blog code {
    background-color: var(--code);
    border-radius: 4px;
    padding: 1px 2px;
    font-weight: bolder;
  }

  .blog pre code {
    padding: 0px;
    font-weight: normal;
  }

  .blog details {
    background: #f8fbff;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 16px 36px;
    margin: 5px 0;
    border: 1px solid var(--border);
  }

    .blog details > summary {
      color: var(--border);
      font-size: 1.1rem;
      cursor: pointer;
      font-weight: bolder;
      -webkit-text-decoration-style: dotted;
      text-decoration-style: dotted;
    }

  .blog blockquote {
    background: #d4ecf7;
    border-left: 8px solid var(--icon);
    padding: 0.5rem 1rem;
    margin: 1rem 0.5rem;
  }

  .blog table {
    width: 100%;
    overflow: auto;
    break-inside: auto;
    text-align: left;
    padding: 0;
    word-break: initial;
    background-color: white;
    border-collapse: collapse;
    border-spacing: 0px;
  }

    .blog table tr {
      margin: 0;
      padding: 0;
    }

      .blog table tr:nth-child(2n),
      thead {
        background-color: #f8f8f8;
      }

    .blog table th {
      background-color: var(--border);
      color: white;
      border: 1px solid var(--border-light);
      margin: 0;
      padding: 6px 13px;
    }

    .blog table td {
      border: 1px solid var(--border-light);
      margin: 0;
      padding: 6px 13px;
    }

    .blog table th:first-child,
    table td:first-child {
      margin-top: 0;
    }

    .blog table th:last-child,
    table td:last-child {
      margin-bottom: 0;
    }


/* Slider Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.slider {
  margin: 10px 0;
  background: var(--background);
  width: 100%;
  height: 350px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.slide {
  width: 100%;
  height: 350px;
  position: absolute;
  transition: all 0.5s;
}

  .slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .slide span {
    padding: 0 4px;
    background: var(--border-light);
    color: var(--white);
    bottom: 5%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    position: absolute;
    border-radius: 5px;
    text-align: center;
  }

.button-slider {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--border-light);
  color: var(--white);
  font-size: 18px;
}

  .button-slider:hover {
    background-color: var(--border);
  }

.button-slider--prev {
  top: 45%;
  left: 2%;
}

.button-slider--next {
  top: 45%;
  right: 2%;
}

.button-slider--prev {
  top: 45%;
  left: 2%;
}

.button-slider--next {
  top: 45%;
  right: 2%;
}


/* Media Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media (max-width: 650px) {
  .button-icon--menu {
    display: flex;
  }

  .sidebar {
    display: none;
    position: absolute;
  }
}

@media (max-width: 1500px) {
  .col-blog {
    max-width: 100%;
  }

  .col-content {
    opacity: 0;
    width: 0;
    border: none;
    font-size: 0;
  }
}