.context-menu {
  font-weight: bolder;
  position: absolute;
  background: #f8fbff;
  border: 2px solid #4e606e;
  border-radius: 3px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.context-menu ul {
  list-style: none;
  margin: 0;
  padding: 5px;
}

.context-menu li {
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 3px;
}

.context-menu li:hover {
  color: #1b657e;
  background-color: #ced7e1;
}
